.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  margin-bottom: 20px;
  color: #333;
}

.inputWrapper {
  margin-bottom: 15px;
}

.buttonWrapper {
  margin-bottom: 15px;
}

.forgotPasswordWrapper {
  margin-bottom: 15px;
}

.registerText {
  margin-bottom: 15px;
}

.registerLink {
  color: red;
  cursor: pointer;
  text-decoration: none;
}
